html {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  color: #222; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *:before, *:after {
  box-sizing: inherit; }

.page-wrapper {
  padding: 0 15px;
  max-width: 900px;
  margin: 0 auto; }

img {
  max-width: 100%; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
@-webkit-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.page-content {
  -webkit-transition: all 0.25s linear;
          transition: all 0.25s linear;
  -webkit-animation: fade-in 0.25s;
          animation: fade-in 0.25s; }
  .page-content.page-content--fade-out {
    opacity: 0;
    visibility: hidden; }

header {
  padding: 15px 0; }

nav {
  text-align: center; }

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  display: inline-block; }

.nav__li {
  display: inline-block; }
  @media (min-width: 600px) {
    .nav__li {
      margin: 0 15px; } }

.nav__a {
  display: block;
  position: relative;
  padding: 15px;
  color: #000;
  text-align: center;
  text-decoration: none;
  border-bottom: 4px solid transparent;
  -webkit-transition: border-bottom 0.1s linear, -webkit-transform 0.1s linear;
          transition: border-bottom 0.1s linear, transform 0.1s linear;
  font-size: 14px; }
  @media (min-width: 600px) {
    .nav__a {
      font-size: 16px; }
      .nav__a:hover:after {
        right: 0; } }
  .nav__a:after {
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    height: 4px;
    -webkit-transition: all 0.15s ease-in-out;
            transition: all 0.15s ease-in-out;
    border-radius: 4px; }
  .nav__a:after {
    bottom: 0;
    background-color: #000; }

.nav__icon {
  font-size: 20px;
  display: block;
  opacity: 0.85; }

.nav__text {
  font-size: 14px;
  display: block; }

[data-nav-js] {
  position: relative; }
  [data-nav-js]:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background-color: #000;
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), width 0.4s ease-in-out;
            transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), width 0.4s ease-in-out;
    border-radius: 4px; }

[data-nav-js="index"]:before {
  width: 68px;
  -webkit-transform: translateX(0) translateZ(0);
          transform: translateX(0) translateZ(0); }
  @media (min-width: 600px) {
    [data-nav-js="index"]:before {
      width: 73px;
      -webkit-transform: translateX(15px) translateZ(0);
              transform: translateX(15px) translateZ(0); } }

[data-nav-js="work"]:before {
  width: 64px;
  -webkit-transform: translateX(68px) translateZ(0);
          transform: translateX(68px) translateZ(0); }
  @media (min-width: 600px) {
    [data-nav-js="work"]:before {
      width: 69px;
      -webkit-transform: translateX(118px) translateZ(0);
              transform: translateX(118px) translateZ(0); } }

[data-nav-js="about"]:before {
  width: 69px;
  -webkit-transform: translateX(132px) translateZ(0);
          transform: translateX(132px) translateZ(0); }
  @media (min-width: 600px) {
    [data-nav-js="about"]:before {
      width: 75px;
      -webkit-transform: translateX(217px) translateZ(0);
              transform: translateX(217px) translateZ(0); } }

[data-nav-js="contact"]:before {
  width: 80px;
  -webkit-transform: translateX(201px) translateZ(0);
          transform: translateX(201px) translateZ(0); }
  @media (min-width: 600px) {
    [data-nav-js="contact"]:before {
      width: 87px;
      -webkit-transform: translateX(322px) translateZ(0);
              transform: translateX(322px) translateZ(0); } }

.speech-bubble {
  border: 3px solid;
  width: 95%;
  margin: 0 auto 35px auto;
  border-radius: 25px;
  padding: 15px 25px;
  position: relative;
  max-width: 100%; }
  @media (min-width: 600px) {
    .speech-bubble {
      float: right;
      width: calc(100% - 215px); } }
  .speech-bubble:before {
    content: "";
    position: absolute;
    z-index: 10;
    top: 100%;
    right: 30px;
    width: 50px;
    height: 40px;
    border-style: solid;
    border-width: 0 3px 3px 0;
    border-color: #000;
    background: transparent;
    border-bottom-right-radius: 80px 60px;
    display: block; }
    @media (min-width: 600px) {
      .speech-bubble:before {
        right: auto;
        left: 0; } }
  .speech-bubble:after {
    content: "";
    position: absolute;
    z-index: 10;
    top: 100%;
    right: 60px;
    width: 20px;
    height: 40px;
    border-style: solid;
    border-width: 0 3px 3px 0;
    border-color: #000;
    background: transparent;
    border-bottom-right-radius: 40px 50px;
    display: block; }
    @media (min-width: 600px) {
      .speech-bubble:after {
        right: auto;
        left: 0; } }

.speech-bubble__p {
  font-size: 20px;
  line-height: 1.4;
  margin: 5px 0;
  color: #888888; }
  .speech-bubble__p:after {
    content: "";
    position: absolute;
    top: 100%;
    right: 33px;
    width: 27px;
    height: 3px;
    background: #fff; }
    @media (min-width: 600px) {
      .speech-bubble__p:after {
        right: auto;
        left: 20px; } }
  .speech-bubble__p a {
    text-decoration: none;
    position: relative;
    display: inline-block;
    color: #000; }
    .speech-bubble__p a:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 100%;
      height: 2px;
      -webkit-transition: all 0.15s linear;
              transition: all 0.15s linear;
      background-color: #000; }
    .speech-bubble__p a:hover {
      text-decoration: none; }
      .speech-bubble__p a:hover:after {
        right: 0; }

.speech-bubble__h1 {
  font-family: "Kreon", serif;
  font-size: 28px;
  margin: 0 0 10px 0;
  color: #000;
  line-height: 1.3; }

.speech-bubble--middle {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  margin: 75px auto 50px auto; }
  @media (min-width: 600px) {
    .speech-bubble--middle {
      -webkit-transform: rotate(0);
          -ms-transform: rotate(0);
              transform: rotate(0);
      margin: 100px 0 50px 0; }
      .speech-bubble--middle:before {
        bottom: 100%;
        top: auto;
        border-width: 3px 3px 0 0;
        border-top-right-radius: 80px 60px;
        border-bottom-right-radius: 0; }
      .speech-bubble--middle:after {
        top: auto;
        bottom: 100%;
        border-bottom-right-radius: 0;
        border-top-right-radius: 40px 50px;
        border-width: 3px 3px 0 0; } }
  .speech-bubble--middle .speech-bubble__p {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
    .speech-bubble--middle .speech-bubble__p:after {
      bottom: calc(100% + 20px);
      top: auto;
      right: auto;
      left: 7px;
      background-color: #fff; }
    @media (min-width: 600px) {
      .speech-bubble--middle .speech-bubble__p {
        -webkit-transform: rotate(0);
            -ms-transform: rotate(0);
                transform: rotate(0); }
        .speech-bubble--middle .speech-bubble__p:after {
          left: -5px;
          background-color: transparent; }
        .speech-bubble--middle .speech-bubble__p:nth-of-type(1):after {
          left: -5px;
          background-color: #fff; } }

@media (min-width: 600px) {
  .speech-bubble--bottom {
    margin: 75px 0 0 0;
    width: 100%; }
    .speech-bubble--bottom:before {
      bottom: 100%;
      top: auto;
      border-width: 3px 0 0 3px;
      border-top-left-radius: 80px 60px;
      border-bottom-right-radius: 0;
      left: 17px; }
    .speech-bubble--bottom:after {
      top: auto;
      bottom: 100%;
      border-bottom-right-radius: 0;
      border-top-left-radius: 40px 50px;
      border-width: 3px 0px 0 3px;
      left: 47px; }
    .speech-bubble--bottom .speech-bubble__p:after {
      bottom: 100%;
      top: auto; } }

.page-wrapper--work .nav__li:nth-child(2) .nav__a {
  border-top: 4px solid; }
.page-wrapper--work .speech-bubble__p a,
.page-wrapper--work .speech-bubble__h1 {
  color: #35846A; }
.page-wrapper--work .speech-bubble__p a:after {
  background: #35846A; }

.work {
  list-style: none;
  margin: 0;
  padding: 25px 0 0 0;
  text-align: center;
  font-size: 0; }

.work__li {
  margin: 0 0 50px 0;
  max-width: 300px;
  display: inline-block;
  width: 100%; }
  @media (min-width: 450px) {
    .work__li {
      margin: 0 0 20px 0;
      width: 50%;
      vertical-align: top;
      border: none; }
      .work__li:nth-child(odd) {
        padding: 0 10px 0 0; }
      .work__li:nth-child(even) {
        padding: 0 0 0 10px; } }
  @media (min-width: 800px) {
    .work__li {
      width: 33.33%;
      padding: 10px !important;
      margin: 0; } }

.work__a {
  display: block;
  position: relative;
  -webkit-transition: box-shadow 0.1s linear;
          transition: box-shadow 0.1s linear;
  border: 3px solid #000;
  border-radius: 25px;
  overflow: hidden;
  padding-bottom: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .work__a:hover .work__text-wrapper {
    opacity: 0; }

.work__text-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  color: #000;
  padding: 50px 25px;
  text-align: center;
  -webkit-transition: opacity 0.1s linear;
          transition: opacity 0.1s linear;
  font-weight: 600;
  border-radius: 25px; }
  @media (min-width: 450px) {
    .work__text-wrapper {
      padding: 10%; } }

.work__title {
  font-size: 22px;
  margin: 0 0 20px 0; }

.work__description {
  font-size: 16px; }

.page-wrapper--home .nav__li:nth-child(1) .nav__a {
  border-top: 4px solid; }
.page-wrapper--home .speech-bubble__p a,
.page-wrapper--home .speech-bubble__h1 {
  color: #084C61; }
.page-wrapper--home .speech-bubble__p a:after {
  background: #084C61; }

.cartoon {
  padding: 25px 0;
  max-width: 700px; }
  @media (min-width: 600px) {
    .cartoon {
      margin: 0 auto;
      padding: 50px 0; } }

.cartoon__img {
  display: block; }

.cartoon__img-wrapper {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 590px; }
  @media (min-width: 600px) {
    .cartoon__img-wrapper {
      float: left;
      margin: 50px 15px 0 0; } }

footer {
  text-align: center;
  padding: 25px 0;
  margin: 50px 0 0 0;
  color: #999999; }

.page-wrapper--about .nav__li:nth-child(3) .nav__a {
  border-top: 4px solid; }
.page-wrapper--about .speech-bubble__p a,
.page-wrapper--about .speech-bubble__h1 {
  color: #DB504A; }
.page-wrapper--about .speech-bubble__p a:after {
  background: #DB504A; }

.page-wrapper--contact .nav__li:nth-child(4) .nav__a {
  border-top: 4px solid; }
.page-wrapper--contact .speech-bubble__p a,
.page-wrapper--contact .speech-bubble__h1 {
  color: #CC953D; }
.page-wrapper--contact .speech-bubble__p a:after {
  background: #CC953D; }

@-webkit-keyframes fade-up-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px); }
  30% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  100% {
    opacity: 1; } }

@keyframes fade-up-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px); }
  30% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  100% {
    opacity: 1; } }
.load-animation {
  -webkit-animation-name: fade-up-in;
          animation-name: fade-up-in;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s; }

.work-detail {
  text-align: center; }
  @media (min-width: 768px) {
    .work-detail {
      text-align: left; } }

.work-detail__img-link {
  display: block;
  border: 3px solid #000;
  border-radius: 25px;
  margin: 0 auto 20px auto;
  max-width: 400px;
  overflow: hidden;
  position: relative;
  -webkit-transform: translateZ(0);
          transform: translateZ(0); }
  @media (min-width: 768px) {
    .work-detail__img-link {
      float: left;
      width: 45%;
      margin: 0 5% 20px 0; } }
  .work-detail__img-link:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #999;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    opacity: 0;
    -webkit-transition: opacity 0.1s linear;
            transition: opacity 0.1s linear;
    -webkit-transform: translateZ(0);
            transform: translateZ(0); }
  .work-detail__img-link:before {
    content: "View the site";
    color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 22px;
    z-index: 2;
    opacity: 0;
    -webkit-transition: opacity 0.1s linear;
            transition: opacity 0.1s linear; }
  .work-detail__img-link:hover:after, .work-detail__img-link:hover:before {
    opacity: 1; }

.work-detail__img {
  display: block; }

.work-detail__p {
  font-size: 20px;
  line-height: 1.4;
  margin: 0 auto 20px auto;
  color: #888888;
  max-width: 400px;
  text-align: left; }
  @media (min-width: 768px) {
    .work-detail__p {
      width: 50%;
      max-width: none;
      margin: 0 0 20px 0;
      float: right; } }

.work-detail__links-wrapper {
  padding: 20px 0 0 0; }
  @media (min-width: 768px) {
    .work-detail__links-wrapper {
      float: right;
      width: 50%;
      clear: right; } }

.work-detail__back,
.work-detail__link {
  -webkit-transition: all 0.1s linear;
          transition: all 0.1s linear;
  border: 2px solid;
  border-radius: 25px;
  padding: 15px 25px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  color: #000;
  margin: 0 20px 20px 0; }
  .work-detail__back:hover,
  .work-detail__link:hover {
    text-decoration: none;
    background-color: #000;
    color: #fff;
    border-color: #000; }

.work-detail__a {
  text-decoration: none;
  font-weight: bold;
  position: relative;
  display: inline-block;
  color: #000; }
  .work-detail__a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    height: 2px;
    -webkit-transition: all 0.15s linear;
            transition: all 0.15s linear;
    background-color: #000; }
  .work-detail__a:hover:after {
    right: 0; }



/*# sourceMappingURL=main.css.map */