{% capture location %}{{ page.url | split:'/' }}{% endcapture %}

<header class="header">
  <nav>
    <ul class="nav" data-nav-js="{{ location | split:'.' | first }}">
      <li class="nav__li">
        <a class="nav__a" data-js="internal-link" href="{{ site.baseurl }}/">Home</a>
      </li>
      <li class="nav__li">
        <a class="nav__a" data-js="internal-link" href="{{ site.baseurl }}/work/">Work</a>
      </li>
      <li class="nav__li">
        <a class="nav__a" data-js="internal-link" href="{{ site.baseurl }}/about/">About</a>
      </li>
      <li class="nav__li">
        <a class="nav__a" data-js="internal-link" href="{{ site.baseurl }}/contact/">Contact</a>
      </li>
    </ul>
  </nav>
</header>