<ul class="icon-list">
  <li class="icon-list__item">
    <a class="icon-list__link" href="{{ site.codepenUrl }}" target="_blank">
      CodePen
      <i class="fa fa-codepen" aria-hidden="true"></i>
    </a>
  </li>

  <li class="icon-list__item">
    <a class="icon-list__link" href="{{ site.linkedinUrl }}" target="_blank">
      LinkedIn
      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
    </a>
  </li>

  <li class="icon-list__item">
    <a class="icon-list__link" href="{{ site.githubUrl }}" target="_blank">
      GitHub
      <i class="fa fa-github" aria-hidden="true"></i>
    </a>
  </li>
</ul>