html {
  box-sizing: border-box;
  font-family: $ubuntu;
  color: #222;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.page-wrapper {
  padding: 0 15px;
  max-width: 900px;
  margin: 0 auto;
}
img {
  max-width: 100%;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.page-content {
  transition: all 0.25s linear;
  animation: fade-in 0.25s;
  &.page-content--fade-out {
    opacity: 0;
    visibility: hidden;
  }
}

