$openSans: 'Open Sans', sans-serif;
$kreon: 'Kreon', serif;
$ubuntu: 'Ubuntu', sans-serif;

$blue: #084C61;

$green: #35846A;

$gray: #888888;

$red: #DB504A;

$purple: #CC953D;

$light-red: #FA5755;

$orange: #EE964B