.page-wrapper--work {
  .nav__li:nth-child(2) {
    .nav__a {
      border-top: $lineWidth solid;
    }
  }

  .speech-bubble__p a,
  .speech-bubble__h1 {
    color: $green;
  }

  .speech-bubble__p a {
    &:after {
      background: $green;
    }
  }
}

.work {
  list-style: none;
  margin: 0;
  padding: 25px 0 0 0;
  text-align: center;
  font-size: 0;
}

.work__li {
  margin: 0 0 50px 0;
  max-width: 300px;
  display: inline-block;
  width: 100%;

  @media (min-width: 450px) {
    margin: 0 0 20px 0;
    width: 50%;
    vertical-align: top;
    border: none;

    &:nth-child(odd) {
      padding: 0 10px 0 0;
    }

    &:nth-child(even) {
      padding: 0 0 0 10px;
    }
  }
}
.work__a {
  display: block;
  position: relative;
  transition: box-shadow 0.1s linear;
  border: 3px solid #000;
  border-radius: 25px;
  overflow: hidden;
  padding-bottom: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &:hover {
    .work__text-wrapper {
      opacity: 0;
    }
  }
}

.work__text-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  color: #000;
  padding: 50px 25px;
  text-align: center;
  transition: opacity 0.1s linear;
  font-weight: 600;
  border-radius: 25px;

  @media (min-width: 450px) {
    padding: 10%;
  }
}

.work__title {
  font-size: 22px;
  margin: 0 0 20px 0;
}

.work__description {
  font-size: 16px;
}